body {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-rows: repeat(3,180px);
    justify-items: end;
    grid-gap: 18px;
    height: 100vh;
    background-color: grey;
}

.item {
    width: 180px;
    background-color: black;
}
